<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lable_userInfo</key>
	<string>userInfo</string>
	<key>Lable_destination</key>
	<string>destination</string>
	<key>Lable_recommend</key>
	<string>recommend</string>
</dict>
</plist>
